<table class="table">
        <thead>
            <th>Employee Name</th>
            <th>Salary</th>
            <th>Employee Number</th>
            <th>Designation</th>
        </thead>
        <tr *ngFor="let j of receive">
            <td>{{j.emp_name}}</td>
            <td>{{j.emp_salary}}</td>
            <td>{{j.emp_number}}</td>
            <td>{{j.emp_desg}}</td>
        </tr>
    </table>
