<div class="container">
    <form #ref="ngForm" (ngSubmit)="sendto(ref.value)">
        <div class="form-group">
        <label for="f">Employee Name</label>
        <input type="text" id="f" name="emp_name" class="form-control" ngModel>
    </div>
    <div class="form-group">
            <label for="e">Salary</label>
            <input type="text" id="e" name="emp_salary" class="form-control"  ngModel>
        </div>
        <div class="form-group">
                <label for="g">Employee Number</label>
                <input type="text" id="g" name="emp_number" class="form-control"  ngModel>
            </div>
            <div class="form-group">
                    <label for="h">Designation</label>
                    <input type="text" id="h" name="emp_desg" class="form-control"  ngModel>
                </div>
                <div class="text-center">
                    <button class="btn btn-info" type="submit">send</button>
                </div>

    </form>

</div>