<div><h1 class="text-center">EMPLOYEE DETAILS</h1></div>
<div class="container">
<nav class="navbar navbar-expand-md bg-warning navbar-light">
        <button data-toggle="collapse" data-target="#n" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div id="n" class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                   <li class="nav-item">
                      <a routerLink="Add" class="nav-link" data-toggle="tab">Add</a></li>
                       <li class="nav-item">
                          <a routerLink="Delete" class="nav-link" data-toggle="tab">Delete</a></li>
                          <li class="nav-item">
                            <a routerLink="Edit" class="nav-link" data-toggle="tab">Edit</a></li>
                            <li class="nav-item">
                              <a routerLink="Read" class="nav-link" data-toggle="tab">Read</a></li>
                    </ul>
                  </div>
</nav>
</div>
<router-outlet></router-outlet>