<div>
    <label>search:</label>
    <input type="text" name="search" [(ngModel)]="searchterm">
</div>
<table class="table">
    <thead>
        <th>Employee Name</th>
        <th>Salary</th>
        <th>Employee Number</th>
        <th>Designation</th>
    </thead>
    <tr *ngFor="let i of read | search:searchterm">
        <td>{{i.emp_name}}</td>
        <td>{{i.emp_salary}}</td>
        <td>{{i.emp_number}}</td>
        <td>{{i.emp_desg}}</td>
        <button class="btn btn-danger" (click)="deleteemp(i)">Delete</button>
    </tr>
</table>
